.logo {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background: var(--backg-block-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 20px;
}
